# 디폴트 무시된 파일
/shelf/
.idea
.DS_Store
# 쿼리 파일을 포함한 무시된 디폴트 폴더
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/

cham-equality.iml

chamApp/node_modules
chamApi/.gradle
chamApi/build
chamApi/chamApi.iml
chamApi/src/main/resources/.env
chamApi/src/test/resources/.env

chamApp/android/.gradle
chamApp/android/build
chamApp/android/local.properties
chamApp/android/app/build
chamApp/android/app/.cxx
